.section {
    margin: 10px 0;
    box-shadow: 13px 15px 27px -57px hsl(240, 2%, 64%);
    max-width: 900px;
    background: hsl(0, 0%, 99%);
}

.section__header {
    border-bottom: 1px solid hsl(0, 6%, 81%);
    margin: 0;
    padding: 20px;
}

.section__body {
    padding: 20px;
    word-break: break-word;
}

.section__container {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-gap: 20px;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    border-bottom: 1px solid hsl(0, 6%, 81%);
}

@media(max-width:767px) {
    .section__container {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        grid-gap: 0;
    }

    .section__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        padding: 7px;
    }

    .section__buttonArea {
        margin-bottom: 20px;
    }

    .section__header--noneBorder {
        align-self: flex-start;
    }
}

.section__buttons {
    border: 0;
    background: none;
    color: teal;
    transition: 0.7s;
}

.section__buttons:hover {
    color: hsl(180, 100%, 40%);
}

.section__header--noneBorder {
    border: none;
}